[Unit]
Description=Connect Wifi

[Service]
Type=idle
Environment="TERM=dumb"
ExecStart=/usr/local/bin/connect-wifi

[Install]
WantedBy=multi-user.target
